header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    border-bottom: 3px solid gray;
    padding-bottom: 10px;

}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-size: 1.8em;
}

.link {
    color: red;
    font-size: 2em;
    text-decoration: none;
}

button {
    padding: 5px;
}