.App { 
  max-width: 800px;
  margin: auto;
  /* background-color: #282c34; */
  /* color: white; */
}

.header {
  /* width: 100%; */
  border-bottom: 3px solid gray;
  padding-bottom: 10px;

}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-evenly; */
}

.spaceEvenly {
  justify-content: space-evenly;
}

.flexStart {
  justify-content: flex-start;
}

.subTitle {
  font-size: 1.4em;
  font-weight: 400;
}

input {
  padding: 10px;
}
