.App { 
  max-width: 800px;
  margin: auto;
  /* background-color: #282c34; */
  /* color: white; */
}

.header {
  /* width: 100%; */
  border-bottom: 3px solid gray;
  padding-bottom: 10px;

}

.columnFlex {
  display: flex;
  flex-direction: column;
}



.spaceEvenly {
  justify-content: space-evenly;
}

.flexStart {
  justify-content: flex-start;
}

.alignCenter {
  align-items: center;
}

.subtitle {
  font-size: 1.4em;
  font-weight: 600;
  margin-right: 30px;
}

.subTitle {
  font-size: 1.4em;
  font-weight: 400;
}

input {
  padding: 10px;
}
