/* * {
    width: 100%;
} */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.subtitle {
    font-size: 1.4em;
    font-weight: 600;
}

div {
    width: 100%;
}

.statusSelect {
    padding: 5px;
    font-size: 0.9em;
}

.addreimbursementbutton {
    padding: 8px;
}