/* * {
    width: 100%;
} */

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subheader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.flexStart {
    justify-content: flexStart;
}

.spaceBetween {
    justify-content: space-between;
}

.subTitle {
    font-size: 1.4em;
    font-weight: 600;
    margin-right: 30px;
}

div {
    width: 100%;
}

.statusSelect {
    padding: 4px;
    font-size: 0.9em;
    border: 1px solid lightgray;
    border-top: none;
}

.addreimbursementbutton {
    padding: 8px;
}