.reimbursement {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray ;
}

.details {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
}

ul {
    width: 100%;
}

li {
    list-style-type: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.buttons button {
    width: 60%;

}

.rowFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

label {
    margin-right: 10px;
}

.approved {
    color: green;

}

.denied {
    color: red;

}

.pending {
    color: blue;
}

.bolder {
    font-weight: 500;
}

p {
    margin: 0;
}